*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.form-input{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

input[type="text"]{
    display: block;
    width: 400px;
    height: 40px;
    border-radius: 50px;
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}  

input[type="text"]:focus{
    outline: none !important;
    border: 1px solid #1975DB;
    /* background-color: #A4D6FF; */
}

.radio-div{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

label{
    align-items: center;
    margin-left: 3px;
}

input[type="radio"]{
    width: 18px;
    height: 18px;
    margin-left: 30px;
    margin-top: 3px;
}

.first-radio{
    margin-left: 0 !important; 
}

.button-div{
    display: flex;
    justify-content: center;
}

.input-button{
    font-family: 'Poppins', sans-serif;
}
