:root{
    --light-color: rgba( 255, 255, 255, 0.15 );
    --dark-color: rgba( 0, 0, 0, 0.35 );
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

body::before{
    content: '';
    position: absolute;
    background: red;
    background: linear-gradient(129deg, rgba(255,252,0,1) 0%, rgba(255,255,255,0.9475140397956058) 40%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: circle(68% at left top);
}
body::after{
    content: '';
    position: absolute;
    background: blue;
    background: linear-gradient(133deg, rgba(255,255,255,0.8) 50% , rgba(255,255,255,0.9) 65%, rgba(109,213,250,1) 85%, rgba(41,128,185,1) 96%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: circle(68% at bottom right);
}

#weather{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-top: 3rem;
}

.weather-card{
    width: 85vw;
    height: 85vh;
    z-index: 1;
    border-radius: 20px;
    background: var(--light-color);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar{
    padding: 10px;
}

.nav-item{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.logo{
    font-family: 'Roboto', sans-serif;
    cursor:context-menu;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
}

.search-icon{
    margin-right: 20px;
    cursor: pointer;
}

hr{
    border:none;
    height: 20px;
 	width: 97%;
	height: 45px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
    margin: -50px auto 10px;
}

.weather-data{
    display: flex;
    justify-content: space-around;
    margin: 5rem 5rem 0 5rem;
}

.row-1{
    margin-right: 7rem;
}

.row-2{
    margin-left: 7rem;
}

.weather-img{
    width: 300px;
}

.row-1 h2{
    margin-bottom: 2px;
}

.row-1 p{
    color: #808080;
    font-size: 13px;
}

.row-1 h1{
    font-size: 50px;
    color: 	powderblue;
}

.row-1 hr{
    height: 55px;
}

.row-1 h3{
    font-weight: 550;
    margin-bottom: 5px;
}

.row-1 h5{
    margin: 20px 0 10px;
    font-size: 16px;
}

.row-1 h4{
    font-size: 32px;
}

.other-data{
    display: flex;
    margin-top: 15px;
}

.data-table{
    display: flex;
    text-align: center;
    align-items: center;
    align-items: center;
    width: 161px;
    justify-content: space-between;
    margin-right: 20px;
}

.data-table h6{
    display: inline;
    font-size: 12px;

}

.data-table span{
    font-size: 12px;
}

.hourly-data{
    display: flex;
}

.hourly-data div{
    text-align: center;
}

.hourly-data img{
    width: 75px;
}

.one-hour,.two-hour{
    border-right: 1px solid;
}
